@media (max-width: 992px) {
    .header__info {
        margin-left: 1rem;
    }

    .avatar {
        width: 11rem;
        height: 11rem;
    }
    .header__name {
        font-size: 2.5rem;
    }

    .header__specialize {
        font-size: 1.5rem;
    }

    .sidebar{
        margin-top: 13rem;
    }

    .wrapper {
        padding-top: 13rem;
    }

    .contact-method-item {
        width: 80vw;
    }
}

@media (max-width: 768px) {
    .sidebar{
        margin-top: 7rem;
        width: 0;
    }

    .wrapper{
        margin-left: 0;
        padding-top: 10rem;
    }

    .sidebar-expand .wrapper {
		margin-left: 0;
	}

    .avatar {
        margin-left: 0.5rem;
        width: 5rem;
        height: 5rem;
    }

    .header__name {
        font-size: 1.6rem;
    }

    .header__specialize {
        font-size: 1rem;
    }

    .btn {
        padding: 1rem;
        font-size: 1.3rem;
    }

    .contact-method-item {
        width: 90vw;
    }

}

@media (max-width: 564px) {
    .header{
        padding: 1rem;
    }
    
    .header__name {
        font-size: 1.6rem;
    }

    .about__content {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .timeline-item:before {
        left: 1.9rem;
    }

    .timeline-icon {
        width: 4rem;
        height: 4rem;
        font-size: 1.6rem;
        line-height: 2.6;
    }

    .timeline-title span,
    .portfolio-name {
        font-size: 2rem;
    }

    .timeline-desc,
    .portfolio__choose-link,
    .portfolio-desc,
    .portfolio-live-view {
        font-size: 1.4rem;
    }

    .flag-wrapper {
        font-size: 1.6rem;
    }

    .flag-wrapper .flag:before {
        left: -4.9rem;
    }

    .contact-method-item address {
        font-size: 1.6rem;
    }
}